.left-panel {
  padding: 4rem 4rem;
  background: var(--left-background);
  color: var(--left-text);
  height: calc(100vh - 13rem);
  overflow: auto;
}

.right-panel {
  width: calc(100% - 15rem);
}

.theme-button {
  width: 100%;
}

.message-container {
  margin-top: 1rem;
}

.message-container * {
  width: 100%;
}

.message-box {
  width: calc(100% - 6rem);
  height: -webkit-fill-available;
  background: var(--right-background);
  color: var(--right-text);
  padding: 3rem;
  font-size: inherit;
  line-height: 150%;
}

.message-container textarea {
  border-radius: 10px;
  height: 5rem;
  padding: 1rem;
  width: calc(100% - 2rem);
}

.add-button-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  opacity: 0.5;
}