@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap');

:root {
  --topbar-background: #808080;
  --topbar-text: #ff0;
  --button-background: #cc0000;
  --button-text: #fff;
  --left-background: #cecece;
  --left-text: #2f4f4f;
  --right-background: #fff;
  --right-text: #000;
}

[data-theme="Dark"] {
  --topbar-background: #c0c0c0;
  --topbar-text: #2f4f4f;
  --button-background: #f0f8ff;
  --button-text: #800080;
  --left-background: #fff;
  --left-text: #696969;
  --right-background: #008080;
  --right-text: #fff;
}

/* Global Styles */

* {
  font-family: Roboto;
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  background: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  box-shadow: #3333337d 3px 3px 5px 0px;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

textarea {  
  box-shadow: #3333337d 3px 3px 5px 0px;
  outline: none;
}